.image {
    background-size: contain;
    background-position: center;
    width: auto;
    height: 170px;
    background-repeat: no-repeat;
}

.card {
    box-shadow: none !important;
    border: none;
}

.card:hover{

}

.btn-sm{
    margin-right: 4px;
    background-color:#283747;
    border: none;
}

.btn-sm:hover{
    background-color: #2E86C1;
    transition: 1000ms;
}