.image {
    background-size: contain;
    background-position: center;
    width: auto;
    height: 170px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.card {
    box-shadow: none !important;
    border: none;
}

.card:hover{
    /* Want card to hover towards screen with a light shadow */
    /* transition: all 4.9s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -15px;
    border: 1px solid #cccccc;
    background-color: white; */

}

.btn-sm{
    margin-top: 10px;
    margin-right: 30px;
    background-color:#283747;
    border: none;
}

.btn-sm:hover{
    background-color: #2E86C1;
    transition: 1000ms;
}