<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<form [formGroup]="bookingForm">

  <div class="cart-item" *ngFor="let car of cars">
    <span>{{ car.car_Make + ' ' + car.car_Model + ' - ' }}</span>
    <span>{{ car.car_Price | currency: 'R ' }}</span>
    <button class="btn btn-primary btn-sm" type="submit" (click)="booking(car.car_ID)">Confirm Booking</button>
  </div>
  
  <p class="text-right">
    <strong class="d-block">Total Amount:</strong>
    <span class="d-block">{{totalAmount | currency:'R '}}</span>
  </p>

  <div *ngIf="showForm">
    <div class="formGroup">
      <label for="email"> Email: </label>
      <input id="email" class="form-control" type="email" aria-describedby="emailHelp" placeholder="Enter email address" formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  
    <div class="formGroup">
      <label for="fullname"> Fullname: </label>
      <input id="fullname" class="form-control" type="text" formControlName="fullname">
    </div>
  
    <div class="formGroup">
      <label for="address"> Address: </label>
      <input id="address" class="form-control" type="text" formControlName="address">
    </div>
    <button class="btn btn-primary btn-sm" type="button" matTooltip="Clear all fields in the form & cart" matTooltipClass="example-tooltip-red" (click)="clearBookingForm()">Clear</button>
    <button class="btn btn-primary btn-sm" type="button" matTooltip="Submit booking for email confirmation" (click)="submit(bookingForm.value)">Submit</button>
  </div>

</form>