<svg viewBox="0 0 960 300">
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="80%">WATCH LIST</text>
    <text text-anchor="middle" x="52%" y="80%">WATCH LIST</text>
    
  </symbol>

  <g class = "g-ants">
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
  </g>
</svg>

<form [formGroup]="bookingForm">
  <table class="table-bordered table-light" *ngFor="let car of cars">

    <thead class="text-muted">
      <tr class="small text-uppercase">
        <th scope="col" width="220">Image</th>
        <th scope="col" width="180">Car Details</th>
        <th scope="col" width="180">Price</th>
        <th scope="col" width="180">Actions</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>
          <figure class="itemside">
              <div class="aside"><img src= {{car.car_Image}}></div>
          </figure>
      </td>

      <td> 
        <div class="price-wrap">  
          <small class="text-muted"> {{car.car_Make + ' ' + car.car_Model}}</small><br>
          <small class="text-muted">{{'Year: ' + car.car_Year}}</small><br>
          <small class="text-muted"> {{'Transmission: ' + car.car_Transmission}}</small>
        </div> 
    </td>

    <td> 
      <div class="price-wrap"> 
          <var class="price">{{ car.car_Price | currency: 'R ' }}</var><br>
          <small class="text-muted">T's & C's apply</small> 
      </div>
  </td>

  <td class="text-right"> 
    <a href="/shipping"><small class="text-muted">Shipping pricelist</small></a><br>
    <button class="btn btn-primary btn-sm" type="submit" (click)="booking(car.car_ID)">Book for test drive</button><br>
  </td>
  </tr>
    </tbody>
  </table>

  <p class="text-right">
    <strong class="d-block">Total Amount:</strong>
    <span class="d-block">{{totalAmount | currency:'R '}}</span>
  </p>

  <div *ngIf="showForm">
    <div class="formGroup">
      <label for="email"> Email: </label>
      <input id="email" class="form-control" type="email" aria-describedby="emailHelp" placeholder="Enter email address" formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  
    <div class="formGroup">
      <label for="fullname"> Fullname: </label>
      <input id="fullname" class="form-control" type="text" formControlName="fullname">
    </div>
  
    <div class="formGroup">
      <label for="address"> Address: </label>
      <input id="address" class="form-control" type="text" formControlName="address">
    </div>
    <button class="btn btn-primary btn-sm" type="button" matTooltip="Clear all fields in the form & cart" matTooltipClass="example-tooltip-red" (click)="clearBookingForm()">Clear</button>
    <button class="btn btn-primary btn-sm" type="button" matTooltip="Submit booking for email confirmation" (click)="submit(bookingForm.value)">Submit</button>
  </div>
</form>