<svg viewBox="0 0 960 300">
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="80%">WATCH LIST</text>
    <text text-anchor="middle" x="52%" y="80%">WATCH LIST</text>
    
  </symbol>

  <g class = "g-ants">
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
  </g>
</svg>

<div class="car-card">
  <div class="row mt-3">
    <div class="col-3" *ngFor="let car of cars">
      <div class="card">
        <app-car-detail [car]="car" [isDetail]="false"></app-car-detail>
      </div>
    </div>
  </div>
</div>
